
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: normal;
}


body {
  min-height: 200vh;
  width: 100%;
}

/*NAVBAR NUMERO2*/

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'poppins';
}


/*TEXTO INIZIALE*/

.testa{
  padding:40px;
  padding-top: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /*Per far restare il div centrato usa margin 0 auto*/
margin:0 auto;
display: block;
max-width: 900px;
border: solid red 1px;
float: none;
z-index: 1
}

.uno{
  font-weight:500
}

.due{
  font-weight:700;
  margin-top: 20px;
  margin-bottom: 40px
}
.tre{
  font-weight:700
}


/*sfondo home*/

.sfondo_home{
 position: absolute;
 z-index: -1;
 height: 100%;
 width: 100%;
 min-height: 500px;
 object-fit: cover;
}



.nav {
  height: 50px;
  width: 100%;
  background-color: purple;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(128,0,128,0.52);
  transition: 500ms
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgb(82, 19, 94);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #202838;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
